<div ng-controller="BottlesCtrl">

    <label>RED<input type="radio" ng-model="selectedColor" value="RED"></label>
    <label>WHITE<input type="radio" ng-model="selectedColor" value="WHITE"></label>
    <label>ROSE<input type="radio" ng-model="selectedColor" value="ROSE"></label>

    <!-- Master -->
    <ul class="btls-list" ng-class="{'split' : selection}">
        <li class="animate" ng-repeat="bottle in bottles | filter:query | color:selectedColor">
            <div class="btl-ctr">
                <span class="btl" ng-include="'images/bottle.svg'" ng-class="{
                             'bdx'   : bottle.color == 'RED',
                             'white' : bottle.color == 'WHITE',
                             'rose'  : bottle.color == 'ROSE'}"></span>

                <img alt="Vinio" ng-src="../images/{{ bottle.picture }}.jpg">
            </div>

            <div class="dtl">
                <a>
                    <h3 ng-click="openDetail(bottle)">{{ bottle.domain }} - {{ bottle.vintage }}</h3>
                </a>

                <p>{{ bottle.description }}</p>
            </div>

            <span class='price'>{{ bottle.price }}</span>
        </li>
    </ul>

    <!-- Details -->
    <form role="form" class="dtl-edit" ng-if="selection">
        <div class="flr">
            <label for="domainName">Chateau</label>
            <input type="text" id="domainName" placeholder="Domain name" ng-model="selection.domain">
        </div>

        <div class="flr">
            <label for="bottleVintage">Millesime</label>
            <input type="number" id="bottleVintage" placeholder="Vintage" ng-model="selection.vintage">
        </div>

        <div class="flr select">
            <label for="bottleColor">Couleur</label>
            <select type="text" id="bottleColor" ng-options="color for color in colors" ng-model="selection.color"></select>
        </div>

        <div class="flr">
            <label for="bottleDescription">Description</label>
            <textarea id="bottleDescription" ng-model="selection.description"></textarea>
        </div>

        <div class="flr">
            <label for="bottlePrice">Prix</label>

            <div class="append">patates</div>

            <input type="number" class="append" id="bottlePrice" placeholder="Price" ng-model="selection.price">
        </div>

        <div class="flr">
            <label for="bottleDescription">Picture</label>

            <div class="append">.jpg</div>

            <input class="append" ng-model="selection.picture">
        </div>

        <img ng-src="../images/{{ selection.picture }}.jpg" alt="picture">

        <button type="submit" ng-click="edit(selection)">Modifier</button>
    </form>

</div>